<h3>Archive $advert.getTitle()?</h3>

<form class="" action="/adverts/$advert.getId()/archive" method="post">
    <input class="archive" type="submit" name="submit" value="CONFIRM">
</form>
<form class="" action="/adverts/$advert.getId()" method="get">
    <input class="archive" type="submit" name="submit" value="CANCEL">
</form>