<h3>Delete $advert.getTitle() ?</h3>

<form class="" action="/adverts/$advert.getId()/delete" method="post">
<input type="submit" name="submit" value="CONFIRM">
</form>
<form class="" action="/adverts/$advert.getId()" method="get">
    <input type="submit" name="submit" value="CANCEL">
</form>