<form class="" action="/" method="get">
    <input type="submit" name="submit" value="HOME">
</form>
<a href="/adverts/new">Create advert</a>

#foreach ($advert in $adverts)
<h4>$advert.getTitle() #if ($advert.isArchived()) INACTIVE #end</h4>
<a href="adverts/$advert.getId()">View</a>
#end
