<div>
    <h1>Advert for $advert.getTitle()</h1>
    <h2>Description</h2>
    <p>$advert.getDescription()</p>
    <h2>Asking Price</h2>
    <p>$advert.getAskingPrice()</p>
    <h2>Category</h2>
    <p>$advert.getCategory().getCategoryName()</p>
    <h2>Delivery options</h2>
    <ul>
        #foreach($option in $deliveryOptions)
        <li>$option.getTitle()</li>
        #end
    </ul>
</div>