.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        ".c c c c c c c c c c ."
        "f f f f f f f f f f f f";
}

.header {
    border-bottom: 2px solid #e6eaed;
    grid-area: h;
}


main {
    grid-area: c;
}

footer {
    border-top: 2px solid #e6eaed;
    grid-area: f;
}

.nav-primary ul {
  text-align: center;
  list-style-type: none;
}

.nav-primary li {
  display: inline;
}

.nav-primary a {
 text-decoration: none;
}