<h3>Delete $category.getCategoryName() ?</h3>

<form class="" action="/categories/$category.getId()/delete" method="post">
<input type="submit" name="submit" value="CONFIRM">
</form>
<form class="" action="/categories/$category.getId()" method="get">
    <input type="submit" name="submit" value="CANCEL">
</form>