<h3>All Categories</h3>


<table>
    <tr>
        <th>Category Name</th>
        <th>Status</th>
        <th></th>
    </tr>
#foreach ($category in $categories)
<tr>
    <td>$category.getCategoryName()</td>
    <td>  #if (!$category.isArchived()) <i class="fas fa-check fa-2x"></i> #else <i class="fas fa-times fa-2x"></i> #end</td>
    <td><a href="/categories/$category.getId()"><i class="far fa-eye fa-2x"></a></td>
</tr>
#end
</table>

