<h3>New Category</h3>

<form class="new-category" action="/categories" method="post">
    <label for="categoryName"></label>
    <input id="categoryName" type="text" name="categoryName" placeholder="Category name" required>

    <input type="submit" name="submit" value="ADD">
</form>
