#foreach(user in users)

<h3>$user.getfirstName()</h3>
<h3>$user.getLastName()</h3>
<h3>$user.getAddressLine1()</h3>
<h3>$user.getAddressLine2()</h3>
<h3>$user.getAddressCity()</h3>
<h3>$user.getAddressCounty()</h3>
<h3>$user.getAddressPostcode()</h3>
<h3>$user.getUsermname()</h3>
<h3>$user.getContactPhone()</h3>
<h3>$user.getContactEmail()</h3>

# end