<html>
<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="basic.css">
</head>
<body>
<div class="container">
    <div class="header">
        <nav class="nav-primary">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/adverts">Adverts</a></li>
                <li><a href="/delivery-options">Delivery Options</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </nav>
    </div>
    <main>   #parse($template)</main>
    <div class="footer">FOOTER</div>
</div>
</body>
</html>