<html>
<head>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header>
        <a href="/"><img class="logo" src="/images/site-logo.png"></a>
        <nav class="nav-primary">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/adverts">Adverts</a></li>
                <li><a href="/delivery-options">Delivery</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </nav>
        <div class="search">
            <form action="/adverts" method="get">
                <input name="query" type="text" placeholder="search for an item . . .">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </header>
    <main>#parse($template)</main>
    <footer></footer>
</div>
</body>
</html>