<h3>Archive $deliveryOption.getTitle() ?</h3>

<form class="" action="/delivery-options/$deliveryOption.getId()/archive" method="post">
    <input type="submit" name="submit" value="CONFIRM">
</form>
<form class="" action="/delivery-options/$deliveryOption.getId()" method="get">
    <input type="submit" name="submit" value="CANCEL">
</form>