<a href="/delivery-options/new">Create new delivery option</a>
#foreach ($option in $deliveryOptions)
<h4>$option.getTitle() #if ($option.isArchived()) DEPRECATED #end</h4>
<a href="delivery-options/$option.getId()">View</a>
#end
