<h3>Delivery Options</h3>

<table>
    <tr>
        <th>Delivery Option</th>
        <th>Status</th>
        <th></th>
    </tr>
    #foreach ($option in $deliveryOptions)
    <tr>
        <td>$option.getTitle()</td>
        <td>#if (!$option.isArchived()) <i class="fas fa-check"></i> #else <i class="fas fa-times"></i> #end</td>
        <td><a href="delivery-options/$option.getId()"><i class="far fa-eye fa-2x"></a></td>
    </tr>
    #end
</table>